/* 리셋,공통 외부 CSS 합치기(merging) */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 공사중표시 */
body * {
  outline: 2px dashed blue;
}

body > div > * {
  outline-color: red;
}

html,
body,
.wrap {
  overflow: hidden;
}
#main {
  display: flex;
}
.inbox {
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
}
.inbox::after,
.group-part::after {
  content: "";
  display: block;
  clear: both;
}

.partbox {
  /* float: left; */
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  /* height: 100%; */
}
.flex-box {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

/* 숨길 박스 */
.col-none {
  display: none;
}
/* 보일 박스 */
.col-block {
  display: block;
}

#header1 {
  /* background-color: #333ff3; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99999;
  top: 0;
}

.header .partbox {
  height: 3vh;
}


.lgo h1{
  font-size: 1.3vw;
  color: #fff;
  top: -1px;
}

.lgo img{
  width: 16%;
  padding-right: 7px;
}

#header1 a {
  color: #fff3d8;
  text-decoration: none;
}
#header1 h1 {
  position: relative;
  /* 부모자격 */
}
#header1 h1 .nail {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    z-index: 999;
    opacity: 0;
    transition: .4s;
}
#header1 h1 .nail img{
    width: 100%;
}
#header1 h1 a:hover+.nail{
    opacity: 1;
    top: 40px;
}

/* 열리는 가구 //////////////////////////////////////////////////////////////////////////////////////// */

.cont > ul {
  display: flex;
  /* 높이값을 보이는 화면기준 채우기 */
  height: 100vh;
}
/* 파티션 박스 li */
.cont > ul > li {
  position: relative;
  flex: 1;
  cursor: pointer;
  transition: all 1s ease-out;
}

.cont > ul > li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;

  transition: all 0.4s ease-out;
}
.cont > ul > li.on {
  flex: 2.2;
}
/* 가상요소 암전 밝아지기 */
.cont > ul > li.on::before {
  opacity: 0.5;
}

.cont > ul > li:first-child {
  background: url(../../public/images/hotel/hilton1.jpeg) no-repeat center/cover;
}
.cont > ul > li:nth-child(2) {
  background: url(../../public/images/hotel/crockfords1.jpg) no-repeat
    center/cover;
}
.cont > ul > li:nth-child(3) {
  background: url(../../public/images/hotel/conrad1.jpg) no-repeat center/cover;
}

.cont > ul > li > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(30%,70%);
  /* 부모박스의 70%적용시 최대 250px한계설정 */
}
.cont > ul > li > h2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3vw;
  white-space: nowrap;
}

.cont > ul > li > img:last-child {
  top: 50%;
  width: auto;
}

.hdn {
  opacity: 0;
  transition: 1s;
}
.on .hdn {
  opacity: 1;
}

.sp1 {
  opacity: 0;
  transition: 1s;
}
.sp2 {
  opacity: 0;
  transition: 1s;
}
.sp3 {
  opacity: 0;
  transition: 1s;
}

.on .sp1 {
  opacity: 1;
}
.on .sp2 {
  opacity: 1;
}
.on .sp3 {
  opacity: 1;
}


.cont .htxt1 {
  display: flex;
  font-size: 1.4vw;
}
.cont .htxt2 {
  display: flex;
  font-size: 1.4vw;
}
.cont .htxt {
  display: flex;
  font-size: 1.4vw;
}



/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */

/* #main {
    background-color: #000;
} */
.main .ep1 .partbox {
  height: 22.5vh;
}
.main .ep2 .partbox {
  height: 25vh;
}
.main .ep3 {
  min-height: 100vh;
  max-width: 100vw;
}
.main .ep4 .partbox {
  height: 280px;
}
.main .ep5 .partbox {
  height: 50vh;
}

.main .ep6 {
  min-height: 100vh;
  max-width: 100vw;
}

.main .ep7 .partbox {
  height: 22.5vh;
}
.main .ep8 .partbox {
  height: 22.5vh;
}
.main .ep9 .partbox {
  height: 100vh;
}
