

@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hahmlet&display=swap");
/* font-family: 'Hahmlet', serif; */
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");
/* font-family: 'Gowun Batang', serif; */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");
/* font-family: 'IBM Plex Sans KR', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap");
/* font-family: 'Sunflower', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Stylish&family=Sunflower:wght@500&display=swap");
/* font-family: 'Stylish', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");
/* font-family: 'Orbit', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Orbit&display=swap");
/* font-family: 'Gugi', cursive; */


/* 상단영역 //////////////////////////////////////////////// */

.t1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
}

.t1 img {
    width: 120%;
    color: #fff;
    cursor: pointer;
    
}

.hom{
    width: 100px;
}


.t2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.t2 h1 {
    font-size: 0.8vw;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.t2 h1:after {
    display: block;
    content: "";
    border-bottom: solid 2px #000;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.t2 h1:hover:after {
    transform: scaleX(1);
}

.br{
    border-right: 2px solid #000;
}


/* 메인영역 //////////////////////////////////////////////// */


.ep1{
    background: url(../../public/images/sub/thum.jpg) no-repeat center/cover;
}


.ep1-1 {
    height: 25vh;
}

.ep1-2 {
    gap: 10px;
    font-size: 12.5vw;
    color: #fff;
}

.ep1-3 {
    font-size: 1.5vw;
    color: rgb(241, 220, 191);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ep1-4 {
    font-size: 13px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.ep2 .flex-box {
    background-color: #fff;
}

.ep2-1 h1{
    display: flex;
    font-size: 1vw;
    color: #000;
    padding-left: 15px;
    font-weight: bold;
}

.ep2-1 span{
    display: flex;
    font-size: 8vw;
    font-weight: bold;
    color: #000;
    line-height: 160px;   
    padding-left: 15px;
}

.ep2-1 img{
    position: relative;
    width: 45%;
    display: flex;
    top: 55px;
}
.ep2-2 {
    background: url(../../public/images/sub/ssub2.jpg) no-repeat center/cover;
}

.ep3{
    background-color: #fff;
}

.ep3-1 h1{
    flex-wrap: wrap;
    padding: 15px;
    display: flex;
    font-size: 8vw;
    font-weight: bold;
    line-height: 100px;
    padding-top: 50px;
    
}

.ep3-2 {
    background: url(../../public/images/sub/ssub3.png) no-repeat center/cover;
}


.ep4-2 {
    background: url(../../public/images/sub/ssub4.png) no-repeat center/cover;
}

.ep4{
    background-color: #fff;
}


.ep4-1 h1{
    padding: 15px;
    display: flex;
    font-size: 8vw;
    font-weight: bold;
    line-height: 100px;
    padding-top: 50px;
}

.ep4-1 h2{
    padding: 15px;
    display: flex;
    font-size: 3vw;
    font-weight: bold;
    padding-top: 50px;
}

.ep4-1 span{
    display: flex;
    font-size: 1vw;
    font-weight: bold;
    color: #000;
    line-height: 40px;   
    padding-left: 15px;
}

.ep5{
    background-color: #000;
}

.ep5-1 h1{
    padding: 15px;
    display: flex;
    font-size: 11vw;
    font-weight: bold;
    line-height: 100px;
    padding-top: 30px;
    color: rgb(241, 220, 191);
    justify-content: center;
    letter-spacing: 1px;
    word-spacing: -35px
}


.ep5-2 img{
    position: relative;
    height: 400px;
    width: 850px;
    display: flex;
    transform: scale(0.95);
    transition: .4s ease-in-out;
    padding-left: 20px;
}

.ep5-2-2 img{
    padding-left: 20px;
    position: relative;
    height: 400px;
    width: 850px;
    display: flex;
    transform: scale(0.95);
    transition: .4s ease-in-out;
}
.ep5-2 img:hover{
    transform: scale(1);
}
.ep5-2-2 img:hover{
    transform: scale(1);
}



.ep5-3 {
    background: url(../../public/images/hotel/conrad.png) no-repeat bottom;
}
.ep5-3-3 {
    background: url(../../public/images/hotel/hilton.png) no-repeat bottom;
}

.ep5-4{
    padding: 15px;
    display: flex;
    font-size: 12vw;
    font-weight: bold;
    line-height: 100px;
    padding-top: 150px;
    color: rgb(241, 220, 191);
    justify-content: center;
    letter-spacing: 1px;
    word-spacing: -25px;
    align-items: flex-end;
}

.ep6-4 {
    font-size: 13px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
