/* 회원가입 페이지 CSS */

/* 최상위 부모박스 */
.outbx{
    background: url(../../public/images/gaip_main.jpg) no-repeat center/100%;
    height: 100vh;
    opacity: 70%;
}
/* 전체박스 */
.membx{
    position: relative;
    max-width: 700px;
    min-height: 600px;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 2%;
    margin: 0 auto;
    font-family: 'Ubuntu Condensed', sans-serif;
    /* margin-top: 100px; */
    top: 120px;
    background-color: #f7efdf;
}

.membx h2{
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    padding: 35px;
    font-size: 45px;
    /* font-weight: bold; */
}

.membx li{
    position: relative;
    padding: 25px;
}
.membx label{
    display: inline-block;
    width: 25%;
    text-align: right;
    font-size: 20px;
    white-space: nowrap;
}
.membx input{
    width: 60%;
    height: 3vh;
    margin-left: 5%;
    font-size: 20px;
    vertical-align: baseline;
    font-family: 'Ubuntu Condensed', sans-serif;
    
}
.membx .msg{
    position: absolute;
    left: 31%;
    width: 50%;
    font-size: 14px;
    /* outline: 1px dotted red; */
    padding: 5px 0;
    font-weight: bold;
}

.membx .sbtn{
    padding: 15px;
    background-color: #e92b2b;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: 4px solid rgb(255, 239, 20);
    float: right;
    margin-right: 9%;
    cursor: pointer;
    transition: .3s;
}
.membx .sbtn:hover{
    background-color: #1a16fc;
}
.membx ul li:last-child{
    text-align: center;
}
.membx ul li:last-child a{
    color: #0d6efd;
    text-decoration: none;
}
.membx ul li:last-child a:hover{
    color: #fd7e14;
    text-decoration: overline;
    text-decoration-style: wavy;
}