@charset "utf-8";

/************* 1. 상단영역 *************/
#header {
    
}

.right{
    display: flex;
    justify-content: flex-end;
    padding: 15px 30px 15px;
}

.right li>a{
    color: #fff;
}



.jif_wrap{
    background-color: #000;
    border-bottom: solid 2px #424141 ;
}

.inbox-jif{
    position: relative;
    max-width: 1000px;
    height: 100px;
    margin: 0 auto;
}

.part-box{
    float: left;
}

.logo{
    line-height: 120px;
}

/* 중단 영역 */

.tit1{
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.tit2{
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.tit3{
    text-align: center;
    font-size: 20px;
    color: #fff;
}



.ch1 .img-box img{
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
}
.ch2 .img-box img{
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
}
.ch3 .img-box img{
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
}




#main {
    min-height: 800px;
}

#footer {
    background-color: #000;



}
.footer .partbox {
    height: 150px;
}




/* 하단 아이콘영역 */

.icons{
    display: flex;
    justify-content: space-evenly;
    margin: 4px;
}

.ha1{
   background-color: #424141;
}
.ha2{
   background-color: #424141;
}

.ha3{
    background-color: #424141;
}

.ha4{
    background-color: #424141;
}


.fa-instagram{
    font-size: 40px;
    color: white;
}

.fa-facebook{
    font-size: 40px;
    color: white;
}

.fa-twitter{
    font-size: 40px;
    color: white;
}

.fa-youtube{
    font-size: 40px;
    color: white;
}