@charset "utf-8";

/************* 1. 상단영역 *************/
#header {
    
}

.right{
    display: flex;
    justify-content: flex-end;
    padding: 15px 30px 15px;
}

.right li>a{
    color: #fff;
    font-size: 12px;
}

.top-menu{
    position: sticky;
    top: 0;
    /* padding: 20px 0; */
    background-color: #313131;
    z-index: 999;
}

.ab>ul{
    display: flex;
    justify-content: center;
    white-space:  nowrap;
    gap: 0 80px;
    height: 80px;
    /* padding-top: 38px; */
    align-items: center;
}
.ab>ul>li>a{
    font-size: 20px;
    color: white;
}

.ab>ul>li>a:hover{
    color: red;
}

/* 오버시 밑줄 */
.ab>ul>li:hover>a::after{
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: red;
}




.time-box{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 4px 4px;
    background-color: orangered;
    width: 140px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.time-box>ul>li>a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.time-box>ul>li:hover>a{
    color: blue;
}

.jif_wrap{
    background-color: #000;
    border-bottom: solid 2px #424141 ;
}

.inbox-jif{
    position: relative;
    max-width: 1200px;
    /* height: 100px; */
    margin: 0 auto;
}


.logo{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.logo img{
    width: 200%;
}

/* 타이틀 제목 설정 */

.tit{
    text-align: center;
    font-size: 35px;
    color: #fff;
}

/* 메인1 - 영화 출품작  */
.ch{
    text-align: center;
    padding: 1vw;
}
.ch .img-box img{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10%;
    transform: translateY(50%);
    opacity: 0;
    transition: .4s;
}

.group-part-01.on .ch .img-box img{    
    transform: translateY(0);
    opacity: 1;
}
.group-part-01.on .ch2 .img-box img{
    transition-delay: .2s;
}    
.group-part-01.on .ch3 .img-box img{    
    transition-delay: .4s;
}    

/* 메인1-2 영화 출품작 설명박스 */

.mov-box{
    background: url(../images/mov_back3.avif) no-repeat center / cover;
    height: 38%;
    overflow: auto;
    border-radius: 10px; 
}

.mov-box h3{
    font-size: min(1.9rem,1.4vw);
    font-weight: bold;
    white-space: nowrap;
    padding: 10px 10px 5px;
    letter-spacing: -1px;
}

.mov-box p{
    font-size: min(1.6rem,1.5vw);
    line-height: 1.4;
    padding: min(1vw,1.2rem);
    text-align: justify;
}




/* 메인2 - 영화 개막작  */

.km{
    position: relative;
}

.poster1{
    position: absolute;
}

.poster1 img{
    width: 100%;
    
}

.mv_info1{
    text-align: center;
}


.mv_info1 li>a{
    font-size: 20px;
    color: #fff;
   
}

.poster2{
    padding-top: 100px;
}

.poster2 li>a{
    font-size: 40px;
    color: aqua;
    padding: 0 30px;
    font-size: 1.8vw;
}

.mv_info2 li>a{
    color: #fff;
}


#main {
    min-height: 800px;
}

/* 메인3 - 영화제 찿아오는 길 */
.map{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background: url(../images/but_bg1.jpg) no-repeat center / cover;
}
.map img{
    height: 85%;
    width: 65%;
    margin-top: 8%;
    filter: brightness(90%);
}

.col-4{
    position: relative;
}

.btn-grp{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;    
}
.btn-grp button{
    width: 300px;
    box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.btn-grp button:hover{
    background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}

.btn-grp button:hover>a{
    color: blue;
}




/* 하단 영역 & 아이콘 */


#footer {
    background-color: #000;

}
.footer .partbox {
    height: 144px;
}

.footer_logo>li{
    height: 110px;
}

.footer_logo img{
    margin-top: 33px;
    height: 70%;
    width: 97%;
}


.ha3>ul>li{
    display: flex;
    padding-left: 5%;
}

.ha3>ul>li>a{
    color: #fff;
    font-size: 15px;
}


.ha1{
   background-color: #313131;
}
.ha2{
    background-color: #313131;
}

.ha3{
    background-color: #000;
}

.ha4{
    background-color: #000;
}

.ha5{
    background-color: #000;
}

.ha5 ul>li{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.ha5 ul>li>a{
    color: white;
    font-size: 20px;
}

.ha5 img{
    width: 100%;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    margin: 4px;
}

.fa-instagram{
    font-size: 40px;
    color: violet;
}

.fa-instagram:hover{
    color: yellow;
}

.fa-facebook{
    font-size: 40px;
    color: cornflowerblue;
}

.fa-facebook:hover{
    color: yellow;
}

.fa-twitter{
    font-size: 40px;
    color: aqua;
}

.fa-twitter:hover{
    color: yellow;
}

.fa-youtube{
    font-size: 40px;
    color: red;
}

.fa-youtube:hover{
    color: yellow;
}

/* 하단 슬라이드 영역 */

#slider{
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    width: 1354px;
    height: 60px;
}

.slider-box{
    width: 2240px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    animation: banner-ani 18s linear infinite;
}

@keyframes banner-ani {
    100%{
        transform: translate(calc(-140px*13),0);
    }
}