@charset "utf-8";

/* 리셋,공통 외부 CSS 합치기(merging) */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 공사중표시 */
body * {
    outline: 2px dashed #ccc;
}
body > div > * {
    outline-color: red;
}

.group-part-01{
    position: relative;
}


.vidbox{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(50%)
}
.vidbox video{
    width: 100%;
    height: 900px;
    object-fit: cover;
}

.banner {
    position: relative;
   
}
.banner .partbox {
    height: 880px;
}


#main {
    background: url(../images/bg1.jpg) no-repeat center /cover;
    background-color: #000;
}

.main .group-part-01 .partbox {
    height: 700px;
}

.main .group-part-02 .partbox {
    height: 700px;
}

.main .group-part-03 .partbox {
    height: 700px;
}

.footer .group-part-04 .partbox {
    height: 100px;
}

.footer .group-part-05 .partbox {
    height: 50px;
}
